*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
}

html, body {height: 100%; overflow: hidden}


a{
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
}

a:hover{
    text-decoration: none;
    color: grey;
}
.front-page{
    padding-left:2%;
    #navigation{
        font-size: 2rem;
        padding-top:1%;
        .display-6{
            font-size:2.5rem;
            margin-right: 2%;
        }
        a{
            padding-right: 1%;
        }
    }
    #mainMsg{
        word-spacing: 50%;
        letter-spacing: 20px;
        text-transform: uppercase;
        font-size: 4rem;
        text-shadow: 3px 3px grey;
        padding-top:5%;
        animation: showTextAnim 2s forwards;
        opacity: 0%;
    }
    label{
        font-size:2.5rem;
        color:grey;
        margin-top: 1%;
        opacity: 0%;
        animation: showTextAnim 2s forwards;
    }
    button{
        font-size: 1.5rem;
        margin-top: 1%;
        opacity: 0%;
        animation: showTextAnim 2s forwards;
    }

    @keyframes showTextAnim {
        from{
            opacity: 0%;
            left:-100%;
        }
        to{
            opacity: 100%;
            margin-right: 0%;
        }
    }
    .offers{
        text-align: center;
        display:grid;
        max-width: 45%;
        min-width: 45%;
        grid-template-columns: auto auto auto;
        margin-top: 15%;
        background-color: none;
        .card{
            border:0px solid transparent;
            padding:10px;
            display: flex;
            img{
                height: 70px;
                object-fit: contain;
                align-items: center;
            }
        }
    }

    .images{
        .firstLine{
            position: absolute;
            // left:45%;
            animation: firstLineAnim 1s ease-in-out forwards;
            background-attachment:local;
        }
        .secondLine{
            position: absolute;
            // left:55%;
            animation: secondLineAnim 1s ease-in-out forwards;
        }
        
        .thirdLine{
            position: absolute;
            // left:65%;
            animation: thirdLineAnim 1s ease-in-out forwards;
        }
        .lucian{
            position: absolute;
            top:25%;
            left:40%;
            z-index: 1;
            opacity: 0%;
            animation: lucianAnim 1s 0.5s ease forwards;
            max-height: 55%;
            object-fit: contain;
        }
    }

    .blackBack{
        background-color:black;
        height: 100vh;
        width: 100%;
        transform: rotate(-65deg);
        z-index: -1;
        top:0%;
        position: absolute;
        left:35%;
        opacity: 0%;
        animation: blackBoxAnim 1s ease forwards;
    }

    @keyframes blackBoxAnim {
        from{
            opacity: 0%;
            left:100%;
        }
        to{
            opacity: 100%;
            left:35%;
        }
    }

    @keyframes firstLineAnim{
        from{
            top:100%;
            left:30%;
        }
        to{
            top:-10%;
            left:45%;
        }
    }
    
    @keyframes secondLineAnim{
        from{
            top:-100%;
            left:85%;
            // asd
        }
        to{
            left:55%;
            top:-10%;
        }
    }
    
    @keyframes thirdLineAnim{
        from{
            top:100%;
            left:45%;
        }
        to{
            top:-10%;
            left:65%;
        }
    }
    
    @keyframes lucianAnim{
        from{
            opacity: 0%;
        }
        to{
            opacity: 100%;
            left:45%;
        }
    }    
}

