* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Nunito;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a:hover {
  text-decoration: none;
  color: grey;
}

.visible {
  display: block;
}

.navigation {
  font-size: 1.5em;
  padding-top: 1%;
  color: red;
  z-index: 1;
}

.navigation .display-6 {
  font-size: 1.5em;
  margin-right: 2%;
}

.navigation a {
  padding-right: 1%;
}

.front-page {
  display: block;
  padding-left: 2em;
}

.front-page #mainMsg {
  word-spacing: 50%;
  letter-spacing: 20px;
  text-transform: uppercase;
  font-size: 4rem;
  text-shadow: 3px 3px grey;
  padding-top: 5%;
  -webkit-animation: showTextAnim 2s forwards;
          animation: showTextAnim 2s forwards;
  opacity: 0%;
}

.front-page label {
  font-size: 2.5rem;
  color: grey;
  margin-top: 1%;
  opacity: 0%;
  -webkit-animation: showTextAnim 2s forwards;
          animation: showTextAnim 2s forwards;
}

.front-page button {
  font-size: 1.5rem;
  margin-top: 1%;
  opacity: 0%;
  -webkit-animation: showTextAnim 2s forwards;
          animation: showTextAnim 2s forwards;
}

@-webkit-keyframes showTextAnim {
  from {
    opacity: 0%;
    left: -100%;
  }
  to {
    opacity: 100%;
    margin-right: 0%;
  }
}

@keyframes showTextAnim {
  from {
    opacity: 0%;
    left: -100%;
  }
  to {
    opacity: 100%;
    margin-right: 0%;
  }
}

.front-page .offers {
  text-align: center;
  display: -ms-grid;
  display: grid;
  max-width: 45%;
  min-width: 45%;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  margin-top: 15%;
  background-color: none;
}

.front-page .offers .card {
  border: 0px solid transparent;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.front-page .offers .card img {
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.front-page .images .firstLine {
  position: fixed;
  -webkit-animation: firstLineAnim 1s ease-in-out forwards;
          animation: firstLineAnim 1s ease-in-out forwards;
  background-attachment: local;
}

.front-page .images .secondLine {
  position: fixed;
  -webkit-animation: secondLineAnim 1s ease-in-out forwards;
          animation: secondLineAnim 1s ease-in-out forwards;
}

.front-page .images .thirdLine {
  position: fixed;
  -webkit-animation: thirdLineAnim 1s ease-in-out forwards;
          animation: thirdLineAnim 1s ease-in-out forwards;
}

.front-page .images .lucian {
  position: fixed;
  top: 25%;
  left: 40%;
  z-index: 1;
  opacity: 0%;
  -webkit-animation: lucianAnim 1s 0.5s ease forwards;
          animation: lucianAnim 1s 0.5s ease forwards;
  max-height: 55%;
  -o-object-fit: contain;
     object-fit: contain;
}

.front-page .blackBack {
  background-color: black;
  height: 100vh;
  width: 100%;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
  z-index: -1;
  top: 0%;
  position: fixed;
  left: 35%;
  opacity: 0%;
  -webkit-animation: blackBoxAnim 1s ease forwards;
          animation: blackBoxAnim 1s ease forwards;
}

@-webkit-keyframes blackBoxAnim {
  from {
    opacity: 0%;
    left: 100%;
  }
  to {
    opacity: 100%;
    left: 35%;
  }
}

@keyframes blackBoxAnim {
  from {
    opacity: 0%;
    left: 100%;
  }
  to {
    opacity: 100%;
    left: 35%;
  }
}

@-webkit-keyframes firstLineAnim {
  from {
    top: 100%;
    left: 30%;
  }
  to {
    top: -10%;
    left: 45%;
  }
}

@keyframes firstLineAnim {
  from {
    top: 100%;
    left: 30%;
  }
  to {
    top: -10%;
    left: 45%;
  }
}

@-webkit-keyframes secondLineAnim {
  from {
    top: -100%;
    left: 85%;
  }
  to {
    left: 55%;
    top: -10%;
  }
}

@keyframes secondLineAnim {
  from {
    top: -100%;
    left: 85%;
  }
  to {
    left: 55%;
    top: -10%;
  }
}

@-webkit-keyframes thirdLineAnim {
  from {
    top: 100%;
    left: 45%;
  }
  to {
    top: -10%;
    left: 65%;
  }
}

@keyframes thirdLineAnim {
  from {
    top: 100%;
    left: 45%;
  }
  to {
    top: -10%;
    left: 65%;
  }
}

@-webkit-keyframes lucianAnim {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
    left: 45%;
  }
}

@keyframes lucianAnim {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
    left: 45%;
  }
}

.secondPage {
  -webkit-transform-origin: right;
          transform-origin: right;
  z-index: -10;
  display: none;
}

.secondPage .navigation {
  -webkit-animation: animBoxAnim 5s ease forwards;
          animation: animBoxAnim 5s ease forwards;
  padding-left: 2em;
}

.secondPage #backBtn {
  padding: 0;
  margin: 0;
  top: 50vh;
  left: 0%;
  position: absolute;
  padding: 1em;
  width: 5%;
  -webkit-animation: animBoxAnim 2s ease forwards;
          animation: animBoxAnim 2s ease forwards;
  cursor: pointer;
}

.secondPage .offerBar {
  width: 100%;
  height: 60vh;
}

.secondPage .secondBlackBar {
  background-repeat: no-repeat;
  padding-top: 6em;
  -webkit-clip-path: circle(0% at 50% 0%);
          clip-path: circle(0% at 50% 0%);
  -webkit-animation: animBoxAnim2 2s 1s ease forwards;
          animation: animBoxAnim2 2s 1s ease forwards;
}

.secondPage .row {
  margin: auto;
  padding: 1em;
}

.secondPage h1 {
  text-align: center;
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  -webkit-animation: animBoxAnim 2s ease forwards;
          animation: animBoxAnim 2s ease forwards;
}

.secondPage .card:hover {
  background-color: black;
  color: white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.secondPage .card:hover .card-img-top {
  content: url("img/fb_light.png");
}

.secondPage .card:hover .btn {
  background-color: white;
  color: black;
}

.secondPage .card {
  margin: auto;
  -webkit-animation: cardBoxAnim 2.5s 0.5s ease forwards;
          animation: cardBoxAnim 2.5s 0.5s ease forwards;
  border: 1px solid black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-clip-path: circle(0% at 0% 0%);
          clip-path: circle(0% at 0% 0%);
}

.secondPage .card .btn {
  border-radius: 9999px;
  text-transform: uppercase;
  width: 100%;
}

.secondPage .card .card-title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.5em;
}

.secondPage .card img {
  height: 64px;
  -o-object-fit: contain;
     object-fit: contain;
}

.secondPage .card1 {
  -webkit-animation: cardBoxAnim 1.5s 0.4s ease forwards;
          animation: cardBoxAnim 1.5s 0.4s ease forwards;
}

.secondPage .card2 {
  -webkit-animation: cardBoxAnim 1.5s 0.6s ease forwards;
          animation: cardBoxAnim 1.5s 0.6s ease forwards;
}

.secondPage .card3 {
  -webkit-animation: cardBoxAnim 1.5s 0.8s ease forwards;
          animation: cardBoxAnim 1.5s 0.8s ease forwards;
}

@-webkit-keyframes animBoxAnim {
  from {
    -webkit-clip-path: circle(0% at 0% 0%);
            clip-path: circle(0% at 0% 0%);
  }
  to {
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
  }
}

@keyframes animBoxAnim {
  from {
    -webkit-clip-path: circle(0% at 0% 0%);
            clip-path: circle(0% at 0% 0%);
  }
  to {
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
  }
}

@-webkit-keyframes animBoxAnim2 {
  from {
    -webkit-clip-path: circle(0% at 50% 0%);
            clip-path: circle(0% at 50% 0%);
  }
  to {
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
  }
}

@keyframes animBoxAnim2 {
  from {
    -webkit-clip-path: circle(0% at 50% 0%);
            clip-path: circle(0% at 50% 0%);
  }
  to {
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
  }
}

@-webkit-keyframes cardBoxAnim {
  from {
    -webkit-clip-path: circle(0% at 0% 0%);
            clip-path: circle(0% at 0% 0%);
  }
  to {
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
  }
}

@keyframes cardBoxAnim {
  from {
    -webkit-clip-path: circle(0% at 0% 0%);
            clip-path: circle(0% at 0% 0%);
  }
  to {
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
  }
}

.thirdPage {
  width: 100%;
  height: 100vh;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thirdPage img {
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  width: 15vh;
}

.thirdPage img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.thirdPage h1 {
  text-align: center;
  padding: 1em;
}

.thirdPage .items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: imgScrollAnim 30s ease-in-out infinite;
          animation: imgScrollAnim 30s ease-in-out infinite;
  position: relative;
}

@-webkit-keyframes imgScrollAnim {
  from {
    left: 100%;
  }
  to {
    left: -200%;
  }
}

@keyframes imgScrollAnim {
  from {
    left: 100%;
  }
  to {
    left: -200%;
  }
}
/*# sourceMappingURL=design.css.map */