*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
}

html, body {height: 100%;
    //  overflow: hidden;
     }


a{
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
}


a:hover{
    text-decoration: none;
    color: grey;
}

.visible{
    display:block;
}

.navigation{
    font-size: 1.5em;
    padding-top:1%;
    .display-6{
        font-size:1.5em;
        margin-right: 2%;
    }
    a{
        padding-right: 1%;
    }
    color:red;
    z-index: 1;
}

.front-page{

    display:block;
    
    padding-left:2em;
    #mainMsg{
        word-spacing: 50%;
        letter-spacing: 20px;
        text-transform: uppercase;
        font-size: 4rem;
        text-shadow: 3px 3px grey;
        padding-top:5%;
        animation: showTextAnim 2s forwards;
        opacity: 0%;
    }
    label{
        font-size:2.5rem;
        color:grey;
        margin-top: 1%;
        opacity: 0%;
        animation: showTextAnim 2s forwards;
    }
    button{
        font-size: 1.5rem;
        margin-top: 1%;
        opacity: 0%;
        animation: showTextAnim 2s forwards;
    }

    @keyframes showTextAnim {
        from{
            opacity: 0%;
            left:-100%;
        }
        to{
            opacity: 100%;
            margin-right: 0%;
        }
    }
    .offers{
        text-align: center;
        display:grid;
        max-width: 45%;
        min-width: 45%;
        grid-template-columns: auto auto auto;
        margin-top: 15%;
        background-color: none;
        .card{
            border:0px solid transparent;
            padding:10px;
            display: flex;
            img{
                height: 70px;
                object-fit: contain;
                align-items: center;
            }
        }
    }

    .images{
        .firstLine{
            position: fixed;
            animation: firstLineAnim 1s ease-in-out forwards;
            background-attachment:local;
        }
        .secondLine{
            position: fixed;
            animation: secondLineAnim 1s ease-in-out forwards;
        }
        
        .thirdLine{
            position: fixed;
            animation: thirdLineAnim 1s ease-in-out forwards;
        }
        .lucian{
            position: fixed;
            top:25%;
            left:40%;
            z-index: 1;
            opacity: 0%;
            animation: lucianAnim 1s 0.5s ease forwards;
            max-height: 55%;
            object-fit: contain;
        }
    }

    .blackBack{
        background-color:black;
        height: 100vh;
        width: 100%;
        transform: rotate(-65deg);
        z-index: -1;
        top:0%;
        position: fixed;
        left:35%;
        opacity: 0%;
        animation: blackBoxAnim 1s ease forwards;
    }

    @keyframes blackBoxAnim {
        from{
            opacity: 0%;
            left:100%;
        }
        to{
            opacity: 100%;
            left:35%;
        }

    }

    @keyframes firstLineAnim{
        from{
            top:100%;
            left:30%;
        }
        to{
            top:-10%;
            left:45%;
        }
    }
    
    @keyframes secondLineAnim{
        from{
            top:-100%;
            left:85%;
            // asd
        }
        to{
            left:55%;
            top:-10%;
        }
    }
    
    @keyframes thirdLineAnim{
        from{
            top:100%;
            left:45%;
        }
        to{
            top:-10%;
            left:65%;
        }
    }
    
    @keyframes lucianAnim{
        from{
            opacity: 0%;
        }
        to{
            opacity: 100%;
            left:45%;
        }
    }    
}

.secondPage{
    transform-origin: right;
    z-index: -10;
    display:none;
    .navigation{
        animation: animBoxAnim 5s ease forwards;
        padding-left: 2em;
        
    }
    #backBtn{
        padding: 0;
        margin: 0;
        top:50vh;
        left:0%;
        position: absolute;
        padding:1em;
        width:5%;
        animation: animBoxAnim 2s ease forwards;
        cursor: pointer;

    }
    .offerBar{
        width: 100%;
        height: 60vh;
    }

    .secondBlackBar{
        background-repeat: no-repeat;
        // display:fixed;
        padding-top: 6em;
        clip-path: circle(0% at 50% 0%);
        animation: animBoxAnim2 2s 1s ease forwards;
    }


    .row{
        margin:auto;
        padding:1em;
    }

    h1{
        text-align: center;
        padding: 1em;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        animation: animBoxAnim 2s ease forwards;

    }
    .card:hover{
        background-color: black;
        color:white;
        transform: scale(1.05);
        .card-img-top{
            content: url('/img/fb_light.png');
        }
        .btn{
            background-color: white;
            color:black;
        }
    }
    .card{
        margin:auto;
        animation: cardBoxAnim 2.5s 0.5s ease forwards;
        border: 1px solid black;
        align-items: center;
        text-align: center;
        padding:1em;
        transition: all 0.5s ease;
        clip-path: circle(0% at 0% 0%);



        .btn{
            border-radius: 9999px;
            text-transform: uppercase;
            width:100%;
        }

        .card-title{
            font-weight: 900;
            text-transform: uppercase;
            font-size: 1.5em;
        }
        img{
            height: 64px;
            object-fit: contain;
        }
    }
    .card1{
        animation: cardBoxAnim 1.5s 0.4s ease forwards;
    }
    .card2{
        animation: cardBoxAnim 1.5s 0.6s ease forwards;
    }
    .card3{
        animation: cardBoxAnim 1.5s 0.8s ease forwards;
    }

    @keyframes animBoxAnim {
        from{
            clip-path: circle(0% at 0% 0%);
        }
        to{
            clip-path: circle(100% at 50%  50%);
        }
    }

    @keyframes animBoxAnim2 {
        from{
            clip-path: circle(0% at 50% 0%);
        }
        to{
            clip-path: circle(100% at 50%  50%);
        }
    }

    
    @keyframes cardBoxAnim {
        from{
            clip-path: circle(0% at 0% 0%);
        }
        to{
            clip-path: circle(100% at 50%  50%);
        }
    }

}

.thirdPage{

    width: 100%;
    height: 100vh;
    display:none;
    justify-content: center;
    align-items: center;
    img{
        object-fit: contain;
        cursor: pointer;
        width:15vh;
    }
    img:hover{
        transform:scale(1.2);
    }

    h1{
        text-align: center;
        padding:1em;
    }
    .items-container{
        display:flex;
        animation: imgScrollAnim 30s ease-in-out infinite;
        position:relative;
        // top:5vh;
    }


    @keyframes imgScrollAnim {
        from{
            left:100%;
        }
        to{
            // @if
            left:-200%;
        }
    }
}